@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    height: 400px;
}

.trailer {
    height: auto;
}

.hero {
    z-index: -10;
}

.btn-primary {
    @apply bg-transparent uppercase border px-10 py-3 inline-block;
}

@screen md {
    .header {
        height: 650px;
    }
    .trailer {
        height: 700px;
    }
}




